<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Karpatia</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../dist/css/style.css">
  <script src="js/script.js"></script>
</head>
<body>
  <div class="container">
  	<main class="main">

  		<aside class="left-aside">
  			<section class="Profile">
  				<div>
  					<img class="Profile-image" src="../../dist/images/profile.jpeg" width="51" height="51">
  				</div>
  				<div>
  					<p class="Profile-text">Amelia Rice</p>
  					<p class="Profile-text Profile--textFiles">2390 files</p>
  				</div>
  				<div class="Button">
  					<button class="Button-peoplePhoto">UPLOAD</button>
  				</div>
  			</section>
  			<form class="search">
  				<i class="material-icons search-icon">search</i>
			    <input class="search-input" type="search" placeholder="Search files" >
			</form>
			<ul class="nav-categories">CATEGORIES
	            <li><a href="#">Photos</a></li>
	            <li><a href="#">Video</a></li>
	            <li><a href="#">Projects</a></li>
	        </ul>
	        <ul class="nav-albums">ALBUMS
	            <li><a href="#">Subcarpathia 2016</a></li>
	            <li><a href="#">Summer 2015</a></li>
	            <li><a href="#">Aspen 2015</a></li>
	            <li><a href="#">Croatia 2015</a></li>
	        </ul>
	        <section class="sidebar-bottom">
	        	
	        </section>
  		</aside>

  		<section class="main-content">
			  <ul id="photo-list"></ul>
			  <button id="photo-json">SHOW PHOTO</button>
  		</section>
  	</main>
  </div>

</body>
</html>